<a href="https://colab.research.google.com/github/FougereBleue/MachineLearning/blob/main/Notebook/RenduFinal/Boston_Crime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dépendance

In [3]:
import seaborn as sns; sns.set()
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split as TTS
from sklearn.neighbors import KNeighborsClassifier as KNN
from sklearn.ensemble import RandomForestClassifier as RFC
from sklearn.preprocessing import LabelEncoder as LE

# Function

# Variable

In [15]:
# Import de la ressource csv Boston Crime
data = pd.read_csv('Data/crime.csv', engine='python')

# Boston Crime

In [16]:
data.head()

  INCIDENT_NUMBER  OFFENSE_CODE  ...       Long                     Location
0      I182070945           619  ... -71.139371  (42.35779134, -71.13937053)
1      I182070943          1402  ... -71.060300  (42.30682138, -71.06030035)
2      I182070941          3410  ... -71.072429  (42.34658879, -71.07242943)
3      I182070940          3114  ... -71.078664  (42.33418175, -71.07866441)
4      I182070938          3114  ... -71.090361  (42.27536542, -71.09036101)

[5 rows x 17 columns]

# Nettoyage de la dataset

In [17]:
# Copy du data de base puis renommage des colonnes afin de mieux les exploités.
clean = data.copy()
clean = clean.rename(columns={'OFFENSE_CODE_GROUP':'Group',
         'OFFENSE_DESCRIPTION':'Description',
         'DISTRICT':'District',
         'REPORTING_AREA':'Area',
         'SHOOTING':'Shooting',
         'OCCURRED_ON_DATE':'Date',
         'YEAR':'Year',
         'MONTH':'Month',
         'DAY_OF_WEEK':'Day',
         'HOUR':'Hour',
         'UCR_PART':'UCR',
         'STREET':'Street'})
clean.head()

  INCIDENT_NUMBER  OFFENSE_CODE  ...       Long                     Location
0      I182070945           619  ... -71.139371  (42.35779134, -71.13937053)
1      I182070943          1402  ... -71.060300  (42.30682138, -71.06030035)
2      I182070941          3410  ... -71.072429  (42.34658879, -71.07242943)
3      I182070940          3114  ... -71.078664  (42.33418175, -71.07866441)
4      I182070938          3114  ... -71.090361  (42.27536542, -71.09036101)

[5 rows x 17 columns]

In [19]:
# Remplacement des variables vides dans la colonne "Shooting" en N pour pouvoir avoir les crimes sans arme à feu et transformation de la Date
clean['Shooting'].fillna('N', inplace=True)
clean['Date'] = pd.to_datetime(clean['Date'])